/* CSS HEX */
/* --floral-white: #fff8f0ff;
--auburn: #9e2b25ff;
--english-violet: #51355aff;
--russian-violet: #2a0c4eff;
--beige: #f5f8deff; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #55199F;
}

#container {
    /* width: 100%; */
    /* height: 100%; */
    background-color: #55199F;
}

.header {
    display: flex;
    justify-content: center;
    padding: 5vw 0;
    background-color: #2a0c4eff;
    color: #fff8f0ff;
    font-size: 120%;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.padding {
    margin: 5vw;
}

#the-button {
    width: 25vw;
    height: 25vw;

    border-radius: 100%;
    position: relative;

    text-align: center;
    background-color: #9e2b25ff;
    border: none;
    box-shadow: -.5vw 2vw #999;
}

#the-button:hover {
    background-color: red;
}

#the-button:active {
    background-color: rgb(230,0,0);
    box-shadow: -.5vw .7vw #666;
    transform: translateY(1.3vw);
}

.bored {
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
}

h2 {
    color: #fff8f0ff;
}

.info {
    color: #fff8f0ff;
}

#activities {
    margin-top: 1vw;
    /* font-size: 1.3vw; */
    color: #fff8f0ff;
}

.footer-container {
    width: 100%;
    background-color: #55199F;
    margin-top: auto;
}

.footer {
    width: 50%;
    height: 100%;
    padding: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-element {
    text-decoration: none;
    color: #fff8f0ff;
    padding: 2%;
}

.footer-element:hover {
    background-color: #fff8f0ff;
    color: #55199F;
}

/* mobile */
@media only screen and (max-width: 960px) { 
    #the-button {
        font-size: 130%;
    }
}

/* Desktop */
@media only screen and (min-width: 961px) {

    * {
        font-family: Comic, Comic, cursive;
    }

    #the-button {
        font-size: 200%;
    }
}